.scrollarea {
  height: calc(100vh - 70px);
}

.anticon {
  font-size: 18px;
  color: inherit;
}

.nav-text {
  font-size: 14px;
  color: inherit;
  font-weight: 400;
}

.ant-menu-item-selected,
.custom-selected-item {
  background-color: rgba(206, 200, 200, 0.4) !important;
  backdrop-filter: blur(12px) !important;
  color: var(--white) !important;
  color: var(--balck) !important;
}

.dark .ant-menu-item-selected,
.dark .custom-selected-item {
  background-color: #212020 !important;
  backdrop-filter: blur(12px) !important;
  color: var(--balck) !important;
}

.collapsed-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
  background-color: rgba(170, 165, 165, 0.4) !important;
  backdrop-filter: blur(12px) !important;
}

.collapsed-menu .ant-menu-submenu-selected .anticon {
  color: rgb(9, 9, 9) !important;
}

.dark .collapsed-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
  background-color: #212020 !important;
  backdrop-filter: blur(12px) !important; 
}

.dark .collapsed-menu .ant-menu-submenu-selected .anticon {
  color: white !important;
}

@media only screen and (max-width: 767px) {
  .ant-layout-sider-collapsed {
    width: 0;
    min-width: 0 !important;
    max-width: 0 !important;
    flex: 0 0 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .dashboard-menu {
    width: 240px !important;
    flex: 0 0 240px !important;
  }
}