.scrollarea {
  height: calc(100vh - 70px);
}

.anticon {
  font-size: 18px;
  color: inherit;
}

.nav-text {
  font-size: 14px;
  color: inherit;
  font-weight: 400;
}

.ant-menu-item-selected,
.custom-selected-item,
.custom-selected-nested-item {
  background-color: #bae6fd91 !important; /* sky-200 */
  backdrop-filter: blur(12px) !important;
  color: #025ff6 !important; /* sky-700 */
}

.ant-menu-item-selected .anticon,
.custom-selected-item .anticon,
.custom-selected-nested-item .anticon,
.custom-selected-item .nav-text,
.custom-selected-nested-item .nav-text {
  color: #0369a1 !important;
}

.dark .ant-menu-item-selected,
.dark .custom-selected-item,
.dark .custom-selected-nested-item {
  background-color: #0c4a6e !important; /* sky-900 */
  backdrop-filter: blur(12px) !important;
  color: #e0f2fe !important; /* sky-100 */
}

.dark .ant-menu-item-selected .anticon,
.dark .custom-selected-item .anticon,
.dark .custom-selected-nested-item .anticon,
.dark .custom-selected-item .nav-text,
.dark .custom-selected-nested-item .nav-text {
  color: #e0f2fe !important;
}

.collapsed-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
  background-color: rgba(170, 165, 165, 0.4) !important;
  backdrop-filter: blur(12px) !important;
}

.collapsed-menu .ant-menu-submenu-selected .anticon {
  color: rgb(9, 9, 9) !important;
}

.dark .collapsed-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
  background-color: #212020 !important;
  backdrop-filter: blur(12px) !important; 
}

.dark .collapsed-menu .ant-menu-submenu-selected .anticon {
  color: white !important;
}

@media only screen and (max-width: 767px) {
  .ant-layout-sider-collapsed {
    width: 0;
    min-width: 0 !important;
    max-width: 0 !important;
    flex: 0 0 0 !important;
  }
}

@media only screen and (max-width: 767px) {
  .dashboard-menu {
    width: 240px !important;
    flex: 0 0 240px !important;
  }
}