@import "tailwindcss";

@theme {
  --color-black: var(--black);
  --color-white: var(--white);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-content: var(--content-background);
  --color-banner: var(--banner);
  --color-orange: var(--orange);
  --color-outlined: var(--button-background);
}

:root {
  --site-font: "Poppins", sans-serif;
}

*{
  font-family:  sans-serif;
}